* {
    list-style-type: none;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.links {
    display: flex;
    flex-direction: row;
}

.intro {
    display: flex;
    flex-direction: row;
}

.logo {
    background-color: blue;
}